# Backend
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class
*.so

*.egg-info/
dist/
build/

.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
